html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: url(../img/nanny_ai.png), black;
  background-repeat: no-repeat;
  background-position: 35% 100%;
  background-size: 200%; 
  text-align: center;
  overflow: hidden; /* Hide scrollbars */
  color:  white;
}

h1 {
  font-family: "Open Sans","Helvetica Neue",Arial;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11vw;
  color:  #84fffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#text {
  font-family: "Open Sans","Helvetica Neue",Arial;
  margin: 0 auto;
  font-size: 3.5vh;
  letter-spacing: 2px;
  text-align: center;
  color:  white;
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#text-agree {
  font-family: "Open Sans","Helvetica Neue",Arial;
  font-size: 15px;
  letter-spacing: 2px;
  position: fixed;
  right: 5%;
  display: inline-block;
  color: #84fffe;
  font-weight: bold;
}

#text-disagree {
  font-family: "Open Sans","Helvetica Neue",Arial;
  font-size: 15px;
  letter-spacing: 2px;
  position: fixed;
  left: 5%;
  display: inline-block;
  color: red;
  font-weight: bold;
}

#statement {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: block;
  font-size: 5vh;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  font-weight: bold;
}

.bubble {
  display: inline-block;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 3.3px solid var(--border-color);
  position: relative;
  cursor: pointer;
}
.bubble:after {
  content: "\2713";
  color: black;
  display: none;
  height: 20px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bubble.selected:after {
  display: block;
}

.button {
  width: 70%; 
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Arial;
  border: 3px solid #fff;
  margin: 0.2em;
  padding: 0.2em;
  display: inline-block;
  border-color: white;
  text-transform: uppercase;
  padding: 1px;
  color:  white;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  bottom: 8%;
  margin-left: -35%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 4px;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 80%;
  height: 10px;
  left: 4px;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.fill {
  width: 0%;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

.percent {
  position: absolute;
  top: 6px;
  left: 4px;
  font-size: 15px;
}

#result {
  font-family: "Open Sans","Helvetica Neue",Arial;
  margin: 0 auto;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-align: center;
  color:  white;
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hidden {
  display: none;
}
